
.container {
    max-width: 1280px;
    margin: 0 auto;
}

.logo {

    color: #000000;
    font-size: 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 61px 0 41px 3px;
}

span {
    color: #4BCAFF;
}

.main-header {
    list-style: none;
    top: 10px;
    right: 100px;
    text-align: center;
    vertical-align: top;
    display: inline-block;

}


.main-header ul {
    display: -webkit-flex;
    display: flex;
    text-align: center;


}

.main-header a {
    display: block;
    color: #FFFFFF;
    background: #35444F;
    text-decoration: none;


}

a.functional {
    padding: 27px 41px 21px 204px;
    font-size: 23px;
    text-align: center;
    width: 247px;
    height: 22px;
}

a.ramda {
    padding: 27px 41px 26px 42px;
    font-size: 23px;
    text-align: left;
    width: 68px;
    height: 17px;

}

a.fantasy {
    padding: 27px 43px 20px 42px;
    font-size: 23px;
    text-align: left;
    width: 182px;
    height: 23px;

}

a.node {
    padding: 27px 195px 21px 42px;
    font-size: 23px;
    text-align: left;
    width: 133px;
    height: 22px;

}

.main-header a:hover {
    background: #222F3A;
    border: 0 solid #818181;


}

.left {
    width: 340px;
    border: 1px solid #333333;
    list-style: none;
}

.left a {
    background-color: white;
    color: #495863;
    display: block;
    padding: 28px 40px 28px 44px;
    text-decoration: none;
    font-size: 30px;
}

.left a:hover {
    background-color: #DBDBDB;
    color: black;
}

.main-img {

    display: inline-block;
    text-align: center;
    border: 1px solid #333333;
    padding: 75px 268px 73px 292px;

}


.main-left {
    display: inline-block;
    width: calc(29% - 29px);
    vertical-align: top;
    margin-right: 26px;
    margin-top: 51px;

}

article {
    display: inline-block;
    margin-left: 26px;
    width: calc(70% - 15px);
    margin-top: 51px;
}

.text-up {
    padding: 49px 40px 30px 30px;
    color: #2C2C2C;
    font-size: 18px;
    display: inline-block;
    text-align: left;
}

.text-through {
    padding: 0 35px 0 30px;
    color: #2C2C2C;
    font-size: 18px;
    display: inline-block;
    text-align: left;
}

.footer {
    width: 100%;
    display: inline-block;

}

.footer-menu {
    list-style: none;
    top: 10px;
    right: 100px;
    text-align: center;
    vertical-align: top;
    display: inline-block;
    padding: 51px 0 30px 0;
}

.footer-menu ul {
    display: -webkit-flex;
    display: flex;
    text-align: center;
}

.footer-menu a {
    display: block;
    color: #0C1927;
    background: #B4B7BA;
    text-decoration: none;
}

.footer-ramda {
    padding: 22px 12px 21px 44px;
    color: #0C1927;
    font-size: 28px;
    text-align: left;
    display: inline-block;
    margin-right: auto;

}

.footer-why {
    padding: 22px 12px 21px 11px;
    color: #0C1927;
    font-size: 28px;
    text-align: left;
}

.footer-what {
    padding: 22px 12px 21px 11px;
    color: #0C1927;
    font-size: 28px;
    text-align: left;
}

.footer-introductions {
    padding: 22px 12px 21px 11px;
    color: #0C1927;
    font-size: 28px;
    text-align: left;

}

.footer-philosophy {
    padding: 22px 11px 21px 11px;
    color: #0C1927;
    font-size: 28px;
    text-align: left;

}

.copy {
    color: #010101;
    font-size: 24px;
    text-align: left;
    padding: 25px 34px 21px 218px;
    background: #B4B7BA;
    width: 175px;
    display: inline-block;
}

.footer-menu li {
    display: -webkit-flex;
    display: flex;
    text-align: center;
}

.footer-menu li:after {

    color: #0C1927;
    display: inline-block;
    vertical-align: top;
}

.footer-menu a.current, .footer-menu a:hover {
    color: #3181A6;
    text-decoration: underline;
}

#SuperButton {
    background: #000;
    padding: 0.5rem 1.5rem;
    color: #fff;
    border-radius: 0.25rem;
    outline: none;
}

body.style1 {
    background: #000;
    color: #fff;
    filter: invert(100%)
}

img.style1 {
    filter: invert(100%)
}

body.style2 {
    background: #fff;
}